html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: "Noto Sans JP", Avenir, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
}

.clerfix:after {
  content: "";
  display: block;
  clear: both;
}/*使うかもなので一応残してます*/

header {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}

header h1 {
  width: 120px;
  margin: 0;
}

#gloval-nav {
  flex-grow: 1;
}

#gloval-nav ul {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  list-style-type: none;
}

#gloval-nav ul li {
  margin-left: 1em;
}

#gloval-nav ul li:first-child {
  margin-left: 0;
}
